<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         convertErrorsToExceptions="true"
         convertWarningsToExceptions="true"
         convertNoticesToExceptions="true"
         mapTestClassNameToCoveredClassName="true"
         bootstrap="vendor/autoload.php"
         strict="true"
         verbose="true"
         colors="true"
         timeoutForLargeTests="100">

    <testsuites>
        <testsuite name="internations/http-mock">
            <directory>./tests/</directory>
        </testsuite>
    </testsuites>

    <php>
        <ini name="error_reporting" value="-1"/>
        <const name="HTTP_MOCK_PORT" value="38080"/>
        <const name="HTTP_MOCK_HOST" value="localhost"/>
    </php>
</phpunit>
